html {
    background-color:bisque
}
img {
    width: 200px;
    margin: 8px 20px;
}
h1 {
    text-align: center;
    font-family: Georgia, serif;
}
p {
    font-size: 26px;
    display: inline-block;
    padding: 0px 20px;
    width: 700px;
}
body {
    text-align: center;
}
body ul {
    height: 400px;
    width: 900px;
    margin: auto;
}
#allThreeImages li {
    float: left;
    list-style-type: none;
    border: 3px black solid;
    border-radius: 20px;
    height: 320px;
    padding: 5px;
    margin-left: 30px;
}
#chartSection {
    margin: 10%;
}